<% layout("layouts/boilerplate") %>

<div class="home-hero text-center px-3 ">
  <i class="fa-solid fa-hotel home-icon"></i>
  <h1 class="home-title">Welcome to TravaHome</h1>
  <p class="home-subtitle">Find your next stay anywhere in the world.</p>

  <div class="container mt-5">
    <div class="row justify-content-center g-4">
      <div class="col-md-4">
        <div class="feature-card">
          <i class="fa-solid fa-house-user feature-icon"></i>
          <h6>Verified Stays</h6>
          <p>Only trusted hosts and properties.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <i class="fa-solid fa-globe feature-icon"></i>
          <h6>Global Reach</h6>
          <p>From deserts to beaches — explore anywhere.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <i class="fa-solid fa-user-check feature-icon"></i>
          <h6>Host Friendly</h6>
          <p>List your property and start earning.</p>
        </div>
      </div>
    </div>
  </div>
  <marquee behavior="scroll" direction="" class="contact-marquee" style="  margin-top: 100px;">
   Contact us at <a href="mailto:support@travahome.com">support@travahome.com</a>  |Trusted by 10,000+ travelers |
    24/7 Support | ❤️ Made with love by Anju Kumawat ❤️
</marquee>
</div>