<% layout("layouts/boilerplate") %>

<div class="home-hero text-center px-3 ">
  <i class="fa-solid fa-hotel home-icon"></i>
  <h1 class="home-title">Welcome to TravaHome</h1>
  <p class="home-subtitle">Find your next stay anywhere in the world.</p>

  <div class="container mt-5">
    <div class="row justify-content-center g-4">
      <div class="col-md-4">
        <div class="feature-card">
          <i class="fa-solid fa-house-user feature-icon"></i>
          <h6>Verified Stays</h6>
          <p>Only trusted hosts and properties.</p>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ-gu8mKkE173b7ZmfWDowvoTnRRJFU5fUMtKMnAVhGYeebgFjiuxvgwsmV7lPo58DKEY&usqp=CAU" 
          alt="Verified Stays" class="feature-image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <i class="fa-solid fa-globe feature-icon"></i>
          <h6>Global Reach</h6>
          <p>From deserts to beaches - explore anywhere.</p>
          <img src="https://media.licdn.com/dms/image/v2/C5612AQHelUDRmkf69A/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1588437307091?e=2147483647&v=beta&t=VJvT2l_zgArzW9PxbOTbXNbEnuShF3IDZP2X_6cM3hk" 
          alt="Global Reach" class="feature-image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <i class="fa-solid fa-user-check feature-icon"></i>
          <h6>Host Friendly</h6>
          <p>List your property and start earning.</p>
          <img src=" https://www.guesty.com/wp-content/uploads/2024/01/image1-9.jpg.webp"
          alt="Host Friendly" class="feature-image " >
        </div>
      </div>
    </div>
  </div>
  <marquee behavior="scroll" direction="" class="contact-marquee" style="  margin-top: 50px; color: black;">
  Made with ❤️ |Trusted by 10,000+ travelers  |Contact us at <a href="mailto:support@travahome.com">support@travahome.com</a>  |24/7 Support 
</marquee>
</div>