<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6 col-sm-8">
      <h3 class="text-center mb-4">Signup to TravaHome</h3>
        <form action="/signup" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" name="username" placeholder="Enter username"
            class="form-control form-control-sm" required>
          <div class="invalid-feedback">Invalid Username.</div>
        </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" placeholder="Enter email" class="form-control" required>
                <div class="valid-feedback">Email is perfect!</div>
                <div class="invalid-feedback">Invalid Email.</div>
            </div>
            <div class="mb-3 password-wrapper">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password"
                class="form-control form-control-sm" placeholder="Enter password" required>
            <button type="button" class="toggle-password" onclick="togglePassword()">Show</button>
            <div class="invalid-feedback">Please enter a valid password.</div>
            </div>  
            <div class="form-check mb-3">
                <input type="checkbox" name="remember" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>
            </div>
            <button class="btn" style="width: 80px; background-color: #ff385c;">Signup</button>
        </form>
    </div>
    </div>
</div>
<script>
  function togglePassword() {
    const pwd = document.getElementById("password");
    const toggleBtn = document.querySelector(".toggle-password");

    if (pwd.type === "password") {
      pwd.type = "text";
      toggleBtn.textContent = "Hide";
    } else {
      pwd.type = "password";
      toggleBtn.textContent = "Show";
    }
  }
</script>